*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#0A0A0A ;
}
header{
    font-size: small;
    text-align: center;
    font-family: system-ui;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-top: 2%;
    color: white;
}
header span{
    color: #FF7A1A;
}
button{
    height: 40px;
    width: 250px;
    background-color: #FF7A1A;
    color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    color: #1A1A1A;
    font-size: smaller;
    font-family: system-ui;
    letter-spacing: 1px;
    font-weight: bold;
}