*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#0A0A0A ;
}
header{
    font-size: small;
    text-align: center;
    font-family: system-ui;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-top: 2%;
    color: white;
}
header span{
    color: #FF7A1A;
}
h4{
    font-family: system-ui;
    color: white;
    text-decoration: underline;
    letter-spacing: 1px;
    font-size: medium;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    height: auto;
}
.input-card{
    height: 60px;
    width: 320px;
    position: relative;
    background-color: #111827;
    border-radius: 5px;
    padding: 5px;
}
.input-card svg{
    font-size: x-large;
    COLOR: #FF7A1A;
    margin-left: 1%;
    margin-top: 5%;
}
.info{
    width: 250px;
    position: absolute;
    left: 15%;
    top: 10%;
    height: auto;
}
label{
    line-height: 1.5;
    font-size: small;
    padding-left: 6%;
}
input{
    width: 260px;
    border-radius: 5px;
    height: 30px;
    background-color: #8f95a2;
    color: white;
    cursor: pointer;
}
.upload{
    height: auto;
    width: 330px;
    border: 1px dashed;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1A1A1A;
    gap: 2px;
    letter-spacing: 0.2px;
}
.upload h5{
    margin: 0;
}
h6{
    color: #bdc4d1;
}
.upload-cont{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.camera,.bill{
    gap: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.camera svg{
    color: #FF7A1A;
    font-size: larger;
}
h5{
    margin-top: 5%;
}
.bill svg{
    color: rebeccapurple;
    font-size: larger;
}
button{
    height: 50px;
    width: 250px;
    background-color: #FF7A1A;
    color: whitesmoke;
    border-radius: 10px;
    border: 1px solid black;
    color: #1A1A1A;
    font-size: smaller;
    font-family: system-ui;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    transform: scale(1.02);
    box-shadow: 0 0 12px rgba(255,122,26,.4);
}